$colors: (
  main-color: #045afc,
  tilte-color: #ffffff,
  second-color: #a8d8eb,
  second-color-opacity: rgba(2, 4, 9, 0.2),
  active-color: #e7e307,
  third-color: #f8e7f9,
  black-color: #000000,
);
